a {
	color:#2323C9;
}

body { 
background-color:#1F1F1F
}

figure {
	float: left;
	margin: 0;
	text-align:center;
	padding: 5;
	margin-left:20px;
	margin-right:20px;
}

footer {
	clear: both;
	font-size:30px;
	text-align:center;
	position: relative;
	left: 0;
	bottom: 0px;
	height: 50px;
	width: 100%;
	margin-top: -50px
	background-color: #151515;
}

figcaption {
	color:white;
	white-space: nowrap;
	text-transform: uppercase;
	font-family:"Arial Black", Gadget, sans-serif;
}

footer a {
	text-decoration: none;
	color:#2323C9;
	-o-transition:.5s;
	-ms-transition:.5s;
	-moz-transition:.5s;
	-webkit-transition:.5s;
  
  transition:.5s;
}

footer a:hover { 
color:#23B7C9;
text-shadow: -1px -1px 0 #2323C9, 1px -1px 0 #2323C9, -1px 1px 0 #2323C9, 1px 1px 0 #2323C9;
}

.centersans
{
text-align:center;
font-family:"Verdana", Geneva, sans-serif;
}
.centersans h1
{
color:white;
white-space: nowrap;
}
.centersans h2
{
color:white;
white-space: nowrap;
}
.centersans p
{
color:white;
}
.centersans .txtbox
{
position: absolute;
width:70vw;
top: 50%;
left:50%;
margin-right: -50%;
transform: translate(-50%, -50%);
font-size:2vw;
}

.imageicons
{
	text-align:center;
	
}

.imageicons img:hover 
{
    outline: #333 solid 4px;
	outline-color: #63DCFF;
	-o-transition:.25s;
	-ms-transition:.25s;
	-moz-transition:.25s;
	-webkit-transition:.25s;
  
  transition:.25s;
}
