body { 
background-color:#1F1F1F
}

figure {
	float: left;
	margin: 0;
	text-align:center;
	padding: 5;
	margin-left:20px;
	margin-right:20px;
}

figcaption {
	color:white;
	white-space: nowrap;
	text-transform: uppercase;
	font-family:"Arial Black", Gadget, sans-serif;
}

footer {
	font-size:30px;
	text-align:center;
	position: fixed;
	left: 0;
	bottom: 0px;
	height: 50px;
	width: 100%;
	background-color: #151515;
}
.vidplay
{
	font-size: xx-large;
	margin-left: 100px;
	margin-top: 50px;
}

.vidplay figcaption 
{
	text-align:left;
}

.description h3
{
	color:#FFB5F5;
}

.description p
{
	
	font-size: 30px;
	color:white;
	
}

